.quotesScreen {
    height: 100vh;
    width: 100vw;
    background: #3b3b3c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.quoteCard {
    background: linear-gradient(180deg, #478cf6, #0046ca);
    width: 54%;
    box-shadow: 10px 10px 20px 1px #12151b, -10px -10px 20px 1px #60606f;
    border-radius: 10px;
    overflow: auto;
    padding: 20px;
}

.userInputs {
    width: 100%;
    display: flex;
}

.inputs {
    display: contents;
}

.symbol {
    margin-left: 4%;
    margin-right: 4%;
}

.exchange {
    margin-left: 4%;
    margin-right: 4%;
}

.getQuoteBtn {
    color: #fff;
    background: #ee3d3d;
    border: none;
    border-radius: 4px;
    width: 40px;
    box-shadow: 1px 1px 2px 1px #710909;
    margin-left: auto;
}

.getQuoteBtn:hover {
    animation: buttonHover 1s;
}

@keyframes buttonHover {
    from {
        background: #ee3d3d;
    }
    to {
        background: #ec2c2c;
    }
}

.customForm {
    background: linear-gradient(45deg, #ffffff, #ddeaf6);
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px #585858;
    font-size: .70em;
}

.customForm input {
    color: #484349 !important;
    border: 0 !important;
    /*Removes border*/
    webkit-appearance: none;
    /*Removes default chrome and safari style*/
    moz-appearance: none;
    background-color: transparent;
    width: 100px;
}

.customForm select {
    color: #484349 !important;
    border: 0 !important;
    /*Removes border*/
    webkit-appearance: none;
    /*Removes default chrome and safari style*/
    moz-appearance: none;
    /* background: url('you_own_image_arrow.png')  no-repeat; */
    background-color: transparent;
}

.divider {
    height: 3px;
    border-radius: 2px;
    background: #fff;
    margin-top: 10px;
}

.data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeBubble {
    width: 200px;
    border-bottom: 0;
    text-align: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    -webkit-animation: bounceClose 4s forwards;
    animation: bounceClose 4s forwards;
    -webkit-animation-timing-function: cubic-bezier(0.15, 0.38, 0.85, 1.62);
    animation-timing-function: cubic-bezier(0.15, 0.38, 0.85, 1.62);
    color: #fff;
    box-shadow: inset 0px -3px 10px #ffffff;
    background: -webkit-gradient(linear, left bottom, left top, from(#226be9), to(transparent));
    background: linear-gradient(360deg, #0046ca, transparent);
}

@keyframes bounceClose {
    from {
        height: 65px;
        /* as the half of the width */
    }
    to {
        height: 100px;
        /* as the half of the width */
    }
}

.closeValue {
    font-size: 1.5em;
}

.restQuotes {
    width: 100%;
    border-radius: 4px;
    margin-top: 15px;
    display: -webkit-box;
    display: flex;
    text-align: center;
    background: #e5eff8;
    color: #3b3b3c;
    box-shadow: 1px 1px 2px 1px #585858;
    padding: 0px 20px;
}

.quoteHead {
    width: 70%;
    text-align: left;
}

.quoteValue {
    width: 30%;
}