.quotesScreen {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #3b3b3c;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.quoteContainer {
    width: 100%;
    padding-left: 15px;
}

.quoteCard {
    background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    box-shadow: 10px 10px 20px 1px #000000, -10px -10px 20px 1px #5f5f5f;
    border-radius: 10px;
    overflow: auto;
    padding: 20px 15px;
    width: 75%;
}

.userInputs {
    display: flex;
    flex-wrap: wrap;
}

.inputs {
    width: 50%;
}

.symbol {
    margin-left: 3%;
}

.exchange {
    margin-left: 3%;
}

.getQuoteBtn {
    color: #fff;
    background: #e6951b;
    border: none;
    border-radius: 4px;
    width: 40px;
    box-shadow: 1px 1px 2px 1px #2f1e05;
    margin-left: auto;
}

.getQuoteBtn:hover {
    animation: buttonHover 1s;
}

@keyframes buttonHover {
    from {
        background: #e6951b;
    }
    to {
        background: #b17111;
    }
}

.customForm {
    background: linear-gradient(45deg, #ffffff, #ddeaf6);
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px #585858;
    font-size: .70em;
}

.customForm input {
    color: #484349 !important;
    border: 0 !important;
    /*Removes border*/
    webkit-appearance: none;
    /*Removes default chrome and safari style*/
    moz-appearance: none;
    background-color: transparent;
    width: 160px;
}

.customForm select {
    color: #484349 !important;
    border: 0 !important;
    /*Removes border*/
    webkit-appearance: none;
    /*Removes default chrome and safari style*/
    moz-appearance: none;
    background-color: transparent;
}

.divider {
    height: 3px;
    border-radius: 2px;
    background: #fff;
    margin-top: 10px;
}

.data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}

.closeBubble {
    width: 200px;
    border-bottom: 0;
    text-align: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 100px;
    /* -webkit-animation: bounceClose 4s forwards;
    animation: bounceClose 4s forwards; */
    -webkit-animation-timing-function: cubic-bezier(0.15, 0.38, 0.85, 1.62);
    animation-timing-function: cubic-bezier(0.15, 0.38, 0.85, 1.62);
    color: #fff;
    box-shadow: inset 0px -3px 10px #ffffff;
    background: linear-gradient(360deg, #e6951b, #e5a54540);
}

.closeBubble:empty {
    -webkit-animation: loading 1s ease infinite;
    animation: loading 1s ease infinite;
    background: #f9f7f7;
    background-image: linear-gradient(45deg, #f9f7f7, #ecebeb);
    background-repeat: no-repeat;
}

.closeValue {
    font-size: 1.5em;
}

.restQuotes {
    width: 100%;
    border-radius: 4px;
    margin-top: 15px;
    display: -webkit-box;
    display: flex;
    text-align: center;
    background: #f9f7f7;
    color: #3b3b3c;
    box-shadow: 1px 1px 2px 1px #585858;
    padding: 0px 20px;
    flex-wrap: wrap;
}

.restQuotes:empty {
    background-size: 40px;
    height: 30px;
    -webkit-animation: loading 1s infinite;
    animation: loading 1s infinite;
    background-image: linear-gradient(45deg, #f9f7f7, #ecebeb);
    background-repeat: no-repeat;
}

@keyframes loading {
    0% {
        background-size: 0%
    }
    100% {
        background-size: 100%
    }
}

.quoteHead {
    width: 50%;
}

.quoteValue {
    width: 50%;
    text-align: center;
}

/* Medium devices (landscape tablets, 768px and up) */

/* @media only screen and (min-width: 768px) {
    .quoteHead {
        width: 70%;
        text-align: left;
    }
    .quoteValue {
        width: 30%;
        margin-right: 0%;
    }
} */

/* Large devices (laptops/desktops, 992px and up) */

/* 
@media only screen and (min-width: 992px) {
    .quoteHead {
        width: 70%;
        text-align: left;
    }
    .quoteValue {
        width: 30%;
    }
}


@media only screen and (min-width: 1200px) {
    .quoteHead {
        width: 70%;
        text-align: left;
    }
    .quoteValue {
        width: 30%;
    }
} */

@media only screen and (max-width: 768px) {
    .customForm input {
        width: 140px;
    }
}

@media only screen and (max-width: 600px) {
    .quoteHead {
        width: 100%;
        text-align: center;
    }
    .quoteValue {
        width: 100%;
        text-align: center;
    }
    .quoteCard {
        max-height: 80%;
        width: 75%;
    }
    .getQuoteBtn {
        margin-top: 12px;
        height: 30px;
    }
    .inputs {
        width: auto;
    }
}

@media only screen and (max-width: 425px) {
    .inputs {
        width: 30%;
    }
    .quoteHead {
        width: 100%;
        text-align: center;
    }
    .quoteValue {
        width: 100%;
        text-align: center;
    }
    .quoteCard {
        max-height: 80%;
        width: 90%;
    }
    .getQuoteBtn {
        margin-top: 12px;
        height: 30px;
    }
    .inputs {
        width: auto;
    }
}

@media only screen and (max-width: 325px) {
    .quoteContainer {
        padding-left: 10px;
    }
    .customForm {
        width: 80px;
    }
    .userInputs {
        flex-wrap: nowrap;
    }
    .inputs {
        width: auto;
    }
}