<div class='quotesScreen'>
    <div class='quoteCard'>
        <div class="container">
            <div class="userInputs">
                <div class="inputs">
                    <span>Symbol:</span>
                    <div class="symbol customForm">
                        <input type="text" name="symbol" placeholder="Symbol" [(ngModel)]="symbol" (keyup)="$event.keyCode == 13 ? getStockQuote() : null">
                    </div>
                </div>
                <div class="inputs">
                    <span>Exchange:</span>
                    <div class="exchange customForm">
                        <select [(ngModel)]="exchange">
                            <option value="NSE">NSE</option>
                            <option value="BSE">BSE</option>
                        </select>
                    </div>
                </div>
                <button class="fa fa-caret-right getQuoteBtn" (click)="getStockQuote()"></button>
            </div>
            <div class="row divider"></div>
            <div class="row data" *ngIf="loadingData">
                <div class="closeBubble">
                    <div *ngIf="quotes.close">Close</div>
                    <div class="closeValue" *ngIf="quotes.close">{{quotes.close}}</div>
                </div>
                <div class="restQuotes">
                    <div class="quoteHead" *ngIf="quotes.volume">Volume</div>
                    <div class="quoteValue" *ngIf="quotes.volume">{{quotes.volume}}</div>
                </div>
                <div class="restQuotes">
                    <div class="quoteHead" *ngIf="quotes.open">Open</div>
                    <div class="quoteValue" *ngIf="quotes.open">{{quotes.open}}</div>
                </div>
                <div class="restQuotes">
                    <div class="quoteHead" *ngIf="quotes.prevClose">Previous close</div>
                    <div class="quoteValue" *ngIf="quotes.prevClose">{{quotes.prevClose}}</div>
                </div>
                <div class="restQuotes">
                    <div class="quoteHead" *ngIf="quotes.avgVolume3Months">Avg. Volume(3 Months)</div>
                    <div class="quoteValue" *ngIf="quotes.avgVolume3Months">{{quotes.avgVolume3Months}}</div>
                </div>
                <div class="restQuotes">
                    <div class="quoteHead" *ngIf="quotes.marketCap">Market cap</div>
                    <div class="quoteValue" *ngIf="quotes.marketCap">{{quotes.marketCap}}</div>
                </div>
                <!-- <div class="restQuotes">
                    <div class="quoteHead" *ngIf="quotes.monthly5Years">monthly5Years</div>
                    <div class="quoteValue" *ngIf="quotes.monthly5Years">{{quotes.monthly5Years}}</div>
                </div> -->
                <div class="restQuotes">
                    <div class="quoteHead" *ngIf="quotes.peRatio">PE ratio</div>
                    <div class="quoteValue" *ngIf="quotes.peRatio">{{quotes.peRatio}}</div>
                </div>
                <div class="restQuotes" *ngIf="quotes.epsRatio">
                    <div class="quoteHead" *ngIf="quotes.epsRatio">EPS</div>
                    <div class="quoteValue" *ngIf="quotes.epsRatio">{{quotes.epsRatio}}</div>
                </div>
            </div>
        </div>
    </div>
    <div>